@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Comforter&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Playball&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #faf9f9;
}
.arizonia {
  font-family: "Arizonia", cursive;
  font-weight: 400;
  font-style: normal;
}

.playball {
  font-family: "Playball", cursive;
  font-weight: 600;
  font-style: normal;
}

.ctitle {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.comforter {
  font-family: "Comforter", cursive;
  font-weight: 600;
  font-style: normal;
}
.lilita{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sriracha {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}
.merriweather {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.alfa-slab {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}
.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.oleo {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}
.kaushan {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.input-rl{
  outline: none;
  border: 2px solid black/* #2a6a72 */;
  border-radius: 4px;
  padding: 5px;
}
.error-input-rl{
  outline: none;
  border: 2px solid rgb(189, 30, 30);
  border-radius: 4px;
  padding: 5px;
  animation: shake 0.5s ease-in-out;

}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(8px);
  }
}

.signin-rotate{
  animation: rotate .5s infinite ease-in-out;

}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.categories-hover:hover {
  transform: scale(1.1);
  transition: transform .3s ease-out; 
}